# COMMON: Spring configuration
spring:
  # Database
  datasource:
    url: jdbc:h2:mem:test-database;TIME ZONE=UTC # H2 database in memory, generated in each execution
    driverClassName: org.h2.Driver
    username: test_user
    password: test_password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate.ddl-auto: update
    defer-datasource-initialization: true
    properties:
      hibernate:
        jdbc:
          time_zone: UTC